.container__menu-title > h1 {
    color:  white;
    margin:15px 0;
    font-family: 'Segoe UI';
    font-size: 135px;
    display: flex;
    justify-content: center;
}

.container__menu-title > hr{
    margin-top: 20px;
    margin-bottom: 5px ;

}